.react-logo {
    animation: react-logo-spin infinite 20s linear;
    height: 6vh;
}

@keyframes react-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.stickyFooter{
    position: relative;
    background-color: rgba(83, 124, 126, 0.8);
    bottom: 0;
    width: 100vw;
}