.react-logo {
    animation: react-logo-spin infinite 20s linear;
    height: 6vh;
}

@keyframes react-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.stickyFooter{
    position: relative;
    bottom: 0 !important;
    background-color: rgba(100,125,100,0.8);
}