@import "~sass-text-stroke/_text-stroke";

$size: 1;
$color: #96B53D;
$correction: 0;
$break-large: 1068px;
$pageLinkColor: rgb(51, 31, 11);
$akasaGreen: #7ba533;
$akasaDeepGreen: #5a7925;
$dropShadow: 0px 10px 10px rgba(68, 70, 67, 0.8);

#main-navigation{
    box-shadow: $dropShadow;
    background-color:rgba(255,255,255,0.7);
    .navbar-toggler{
        background: rgba(255,255,255,0.7);
        border-radius: 10%;
        position: relative;
        color:rgb(110, 62, 14);
        top:-3vh;
        right: 7vw;
        font-size: 5vw;
        box-shadow: 0.25vw 0.2vw 0.75vw rgba(89, 100, 83, 0.8);
    }
    
    .nav{
      position: relative !important;
      
    }

    .navbar-brand{
        padding-top: 0;
        padding-bottom: 0;
        max-width: 300px;
    }
    #pageLinks{
        margin-left:3.5vw;
        width: 55vw;
        .nav-link{
            font-size: 2.25vw;
            color: $pageLinkColor !important;
            @include text-stroke($size, $color, $correction);
        }
        .nav-item{
            padding: 1vw;  
        }
        a:hover{
            text-decoration: none !important;
        }
        li a:focus {
            text-decoration:none !important;
            border-bottom-color: transparent !important;
            background: #ffffff !important;
        }
        

        @media screen and (max-width: 1200px) {
            width: 65vw;
            margin-left:0;
        }
        
        @media screen and (max-width: 768px) {
            margin-left:-1.5vw;
            width: 100vw;
            .nav-link{
                font-size: 4vw;
                color: $pageLinkColor !important;
                @include text-stroke($size, $color, $correction);
            }
        }
        
        
    }
    #social{
        
        position: relative;
        margin-right: 3vw;
        font-size:3vw;
        .nav-link{
            font-size: 2.5vw;
            color: $pageLinkColor !important;
            @include text-stroke($size, $color, $correction);
        }
        @media screen and (max-width: 1268px) {
            right:0vw;
            margin-left:10vw;
            width:25vw;
            .nav-link{
                font-size: 2vw;
                color: $pageLinkColor !important;
                @include text-stroke($size, $color, $correction);
            }
        }
        @media screen and (max-width: 1200px) {
            right:0vw;
            margin-left:10vw;
            width:30vw;
            .nav-link{
                font-size: 2vw;
                color: $pageLinkColor !important;
                @include text-stroke($size, $color, $correction);
            }
        }
        @media screen and (max-width: $break-large) {
            display:none;
        }
        
        .nav-item{
            padding: 0;  
        }
    }

    #bookEm{
        position: relative;
        background-color: $akasaGreen !important;
        right: 2vw;
        font-size: 1.8vw;
        width: 13vw;
        border-color: $akasaDeepGreen !important;
        @media screen and (max-width: 860px){
            right: 0.5vw;
            font-size: 2vw;
            width: 15vw;
        }
        @media screen and (max-width: 768px){
            left: -1vw;
            font-size: 2.5vw;
            width: 18vw;
        }
    }

    

    .nav-link:hover {cursor: pointer;}

    
}



