@import "~sass-text-stroke/_text-stroke";

$size: 1;
$color: #1b615b;
$correction: 0;
$break-large: 922px;
$dropShadow: 0px 10px 10px rgba(68, 70, 67, 0.8);

#main-navigation{
    box-shadow: $dropShadow;
    background-color:rgba(255,255,255,0.7);
    .navbar-toggler{
        background: rgba(255,255,255,0.7);
        border-radius: 10%;
        position: relative;
        color:rgba(100, 57, 20, 0.8);
        top:-3vh;
        right: 7vw;
        font-size: 5vw;
        box-shadow: 0.25vw 0.2vw 0.75vw rgba(89, 100, 83, 0.8);
    }
    
    .nav{
      position: relative !important;
      
    }

    .navbar-brand{
        padding-top: 0;
        padding-bottom: 0;
        max-width: 300px;
    }
    #pageLinks{
        margin-left:3.5vw;
        width: 50vw;
        .nav-link{
            font-size: 2.25vw;
            color: white !important;
            @include text-stroke($size, $color, $correction);
        }
        .nav-item{
            padding: 1vw;  
        }
        li a:focus {
            text-decoration:none !important;
            border-bottom-color: transparent !important;
            background: #ffffff !important;
        }
        

        @media screen and (max-width: 1200px) {
            width: 65vw;
            margin-left:0;
        }
        
        @media screen and (max-width: 768px) {
            margin-left:-1.5vw;
            width: 100vw;
            .nav-link{
                font-size: 4vw;
                color: white !important;
                @include text-stroke($size, $color, $correction);
            }
        }
        
        
    }
    #social{
        position: relative;
        margin-right: 3vw;
        font-size:3vw;
        .nav-link{
            font-size: 3vw;
            color: white !important;
            @include text-stroke($size, $color, $correction);
        }
        @media screen and (max-width: 1200px) {
            right:0vw;
            margin-left:10vw;
            width:30vw;
            .nav-link{
                font-size: 2vw;
                color: white !important;
                @include text-stroke($size, $color, $correction);
            }
        }
        @media screen and (max-width: $break-large) {
            right:0vw;
            margin-left:5vw;
            width: 25vw;
            .nav-link{
                font-size: 2vw;
                color: white !important;
                @include text-stroke($size, $color, $correction);
            }
        }

        @media screen and (max-width: 875px) {
            display:none;
        }
        
        
        
        .nav-item{
            padding: 0;  
        }
        @media screen {
            
        }
    }

    

    .nav-link:hover {cursor: pointer;}

    
}



