@import "~sass-text-stroke/_text-stroke";

$size: 1;
$color: #1b615b;
$correction: 0;
$break-large: 922px;
$dropShadow: 0px 10px 10px rgba(68, 70, 67, 0.8);

#main-navigation{
    box-shadow: $dropShadow;
    background-color:rgba(255,255,255,0.7);
    .nav{
      position: relative !important;
      
    }

    .navbar-brand{
        padding-top: 0;
        padding-bottom: 0;
        max-width: 300px;
    }
    #pageLinks{
        .nav-link{
            font-size: 1.8vw;
            color: white !important;
            @include text-stroke($size, $color, $correction);
        }
        .nav-item{
            padding: 1.5vw;  
        }
    }
    #social{
        margin-left: 5px;
        // @media screen and (min-width: $break-large) {
        //     margin-right:25vw;
        //     width: 50vw;
        // }
        
        .nav-link{
            font-size: 1vw;
            color: white !important;
            @include text-stroke($size, $color, $correction);
        }
        .nav-item{
            padding: 0;  
        }
        @media screen {
            
        }
    }

    

    .nav-link:hover {cursor: pointer;}

    
}



