@import '../../Global.scss';

#ContactWrapper{
    a {
        color: #332a67;
    }
    .container{
        padding-top: 5vh;
        margin-top: 3vh;
        margin-bottom: 3vh;
        background: $whiteFade;
    }

}