@import "~sass-text-stroke/_text-stroke";

$size: 1;
$color: #96B53D;
$correction: 0;
$break-large: 1068px;
$pageLinkColor: rgb(51, 31, 11);
$akasaGreen: #7ba533;
$akasaDeepGreen: #5a7925;
$dropShadow: 0px 10px 10px rgba(68, 70, 67, 0.8);
$whiteFade: rgba(255,255,255,0.7);
$brownText: rgb(110, 62, 14);